<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processing...</title>
    <link rel="stylesheet" href="assets/style.css">
    <style>
      .progress {
    height: 10px; 
    width: 66.67%; /* Represents 2 out of 3 steps completed */
    background-color: #76c7c0; 
    border-radius: 5px; 
}
    </style>
</head>
<body>
    <div class="left">
        <img src="<%= data %>" alt="QR Code"> <!-- Replace with your QR code image path -->
    </div>
    <div class="right">
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
        <div class="steps">
        </div>
        <h1 class="detected"></h1> 
        <h2>Please Continue Placing Items One at a Time.</h2>
        <h3>Ready to complete? Press 'Finish' to finalize the process.</h3>
        
        <a class="action-button" href="/done">Finish</a>
        <a class="action-button" href="/">Restart Process</a>
    </div>
</body>

</html>