<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You!</title>
    <style>
        body {
            background-image: url('assets/img/bg.jpg');
            background-color: #F6FCDF;
            background-size: cover; /* This will ensure the image covers the entire background */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Prevent the image from repeating */
            display: flex;
            flex-direction: column; /* Allow vertical stacking */
            justify-content: center;
            align-items: center;
            height: 100vh; /* Full height */
            margin: 0; /* Remove default margin */
        }
        h1 {
            font-family: 'Inter', sans-serif;
            color: #859F3D;
            font-weight: bold;
            font-size: 5em; /* Adjust size as needed */
            text-shadow: 2px 2px 0px #31511E, 
                -2px -2px 0px #31511E, 
                2px -2px 0px #31511E, 
                -2px 2px 0px #31511E; /* Black outline effect */
            }
        .button {
            font-family: 'Inter', sans-serif;
            background-color: #31511E; /* Button color */
            color: white; /* Text color */
            font-size: 2.5em; /* Adjust size as needed */
            border: none; /* Remove default border */
            padding: 20px 30px; /* Add some padding */
            cursor: pointer; /* Change cursor to pointer */
            margin-top: 20px; /* Space between heading and button */
            border-radius: 10px; /* Rounded corners */
            text-decoration: none; /* Remove underline */
            display: inline-block; /* Allow padding and margin */
            margin-top: 8em; /* Adjust margin as needed */
        }
        .button:hover {
            background-color: #2a3e15; /* Darker shade on hover */
        }
    </style>
</head>
<body>
    <h1>THANK YOU FOR RECYCLING!</h1>
    <a href="/" class="button">Finish</a> <!-- Button wrapped in anchor tag -->
</body>
</html>